@charset "utf-8";

/* 基幹 */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: url(../img/background2.jpg);
}

/* header */

.header {
  background: rgb(255, 234, 131);
  padding: 3rem;
}

/* header end */

/* container */

.container {
  padding: 1rem;
}

.sound-select {
  -webkit-appearance: none;
  appearance: none;
  /* とりあえずdiatonicChordとほぼ同じ */
  /* color: white; */
  width: auto;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 1rem;
  background-color: transparent;
  outline: none;
}

.sound-effect-button-space {
  font-size: 3rem;
  padding: 2rem;
  /* 要素を左寄せにするが文字まで左に寄る */
  text-align: left;
}

.sound-effect-button {
  display: inline-block;
  background-color: rgb(255, 255, 154);
  width: 30%;
  padding: 3rem 0;
  margin: 0 2rem 1rem;
  box-shadow: 0px 0px 22px -5px #919191;
  /* 左に寄った文字のみを中央に戻す */
  text-align: center;
}

.sound-effect-button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 12px 4px #C4C4C4;
}

.active {
  box-shadow: inset 0px 0px 12px 4px #C4C4C4;
}

/* container end */

/* footer */

.footer {
  /* 後で変更 */
  font-size: 3rem;
}



/* footer end */

/* レスポンシブ */

@media (max-width: 1465px) {
  .sound-effect-button-space {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .sound-effect-button {
    display: block;
    width: 100%;
  }
}