@charset "utf-8";

/* 基幹 */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: url(../img/background2.jpg);
}

/* header */

.header {
  background: rgb(255, 234, 131);
  padding: 3rem;
}

/* header end */

/* container */

.container {
  padding: 10rem 0;
}

.sound-select {
  -webkit-appearance: none;
  appearance: none;
  /* とりあえずdiatonicChordとほぼ同じ */
  /* color: white; */
  width: auto;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 1rem;
  background-color: transparent;
  outline: none;
}

.sound-effect-button-space {
  font-size: 3rem;
}

.sound-effect-button {
  display: inline-block;
  background-color: rgb(255, 255, 154);
}

/* container end */

/* footer */

.footer {
  /* 後で変更 */
  font-size: 3rem;
}



/* footer end */

/* レスポンシブ */

@media (max-width: 768px) {
  .sound-effect-button {
    display: block;
  }
}